@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	pre {
		font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Vazirmatn', ui-sans-serif, system-ui,
			'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Helvetica Neue', Arial,
			'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	}

	pre {
		white-space: pre-wrap;
	}

	button {
		@apply cursor-pointer;
	}

	input::placeholder,
	textarea::placeholder {
		@apply text-gray-400;
	}

	input[type='checkbox'] {
		@apply appearance-none w-3.5 h-3.5 align-middle bg-white border border-gray-300 rounded transition cursor-pointer focus:ring-2 focus:ring-blue-500 focus:outline-none dark:bg-gray-800 dark:border-gray-600 self-center;
		display: inline-block;
		position: relative;
	}
	input[type='checkbox']:checked {
		@apply bg-blue-600 border-blue-600;
	}
	input[type='checkbox']:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.2s;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"><path d="M4 8l3 3l5-5"/></svg>')
			center/80% no-repeat;
	}
	input[type='checkbox']:checked:after {
		opacity: 1;
	}
}
